[Unit]
Description=SolarControl Controller
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=griessbaum
WorkingDirectory=/opt/solarcontrol/app
ExecStart=/opt/solarcontrol/venv/bin/python main_bishop.py

Restart=on-failure
RestartSec=5

Environment=PYTHONUNBUFFERED=1

StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target